/* flex */
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-items-center {
  align-items: center;
}

.flex-content-center {
  justify-content: center;
}

.flex-content-btw {
  justify-content: space-between;
}

.flex-gap-30 {
  row-gap: 30px;
}

.flex-self-start {
  align-self: flex-start;
}

/* spacing */
.margin-bks-15 {
  margin-block-start: 15px;
}

.margin-bke-15 {
  margin-block-end: 15px;
}

/* colors */
.clr-primary {
  color: var(--color-orange);
}

.clr-white {
  color: white;
}

.clr-light-grey {
  color: var(--color-light-grey);
}

.bg-dark-blue {
  background: var(--color-dark-blue);
}

/* text */
.text-center {
  text-align: center;
}

.text-xl {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 1.27;
  margin-block-end: 10px;
}

.text-m {
  font-weight: 400;
  font-size: 0.95rem;
  line-height: 1.6;
}