/* todo: blending modes, relative units, logical units, overflow, media queries, accessibility */

:root {
  --color-very-dark-blue: #131518;
  --color-dark-blue: #262E38;
  --color-light-grey: #969FAD;
  --color-medium-grey: #7C8798;
  --color-orange: #FC7614;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: default;
}

body {
  font-family: 'Overpass', sans-serif;
}