:root {
  --clr-very-dark-blue: hsl(216, 12%, 8%);
  --clr-dark-blue: hsl(213, 19%, 18%);
  --clr-light-grey: hsl(217, 12%, 63%);
  --clr-medium-grey: hsl(216, 12%, 54%);
  --clr-orange: hsl(25, 97%, 53%);

  font-size: 80%;
}

@media screen and (min-width: 350px) {
  :root {
    font-size: 90%;
  }
}

@media screen and (min-width: 450px) {
  :root {
    font-size: 100%;
  }
}

/* ------------------------------ *
 * Reset                          *
 * ------------------------------ */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ------------------------------ *
 * General styles                 *
 * ------------------------------ */

body {
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
}

img {
  display: block;
  max-width: 100%;
}

/* ------------------------------ *
 * Utilities                      *
 * ------------------------------ */

/* flex */
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-items-center {
  align-items: center;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-between {
  justify-content: space-between;
}

.flex-self-start {
  align-self: flex-start;
}

/* spacing */
.mt-6 {
  margin-top: 1.5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-2\.5 {
  margin-top: 0.625rem;
}

.border-none {
  border: none;
}

/* colors */
.text-primary {
  color: var(--clr-orange);
}

.text-white {
  color: white;
}

.text-light-grey {
  color: var(--clr-light-grey);
}

.bg-dark-blue {
  background: var(--clr-dark-blue);
}

/* text */
.text-center {
  text-align: center;
}

.text-xl {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 1.27;
}

/* display */
.hidden {
  display: none;
}

.sr-only {
  width: 1px;
  height: 1px;
  margin: -1px;
  border-width: 0;
  overflow: hidden;
}

/* ------------------------------ *
 * Components                     *
 * ------------------------------ */

/* containers */
.viewport-container {
  min-height: 100vh;
  background-color: var(--clr-very-dark-blue);
}

.content-container {
  width: min(90%, 37ch);
  min-height: 26rem;
  border-radius: 1.875rem;
  padding: 1.875rem;
  background: radial-gradient(
    98.96% 98.96% at 50% 0%,
    hsl(215, 20%, 17%) 0%,
    hsl(216, 24%, 12%) 100%
  );
}

.logo-container {
  background-color: var(--clr-dark-blue);
  padding: 1rem;
  border-radius: 50%;
}

.selected-rating-text {
  background-color: var(--clr-dark-blue);
  line-height: 1;
  padding: 2.2% 1.25rem 1.2%;
  border-radius: 1.56rem;
}

/* buttons */
.btn {
  padding: 1rem 0;
  border: none;
  border-radius: 1.56rem;
  width: 100%;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn--primary {
  background-color: var(--clr-orange);
  color: white;
}

.btn:focus-visible {
  outline: 2px solid;
}

.btn:hover {
  background-color: white;
  color: var(--clr-orange);
}

/* rating */
.rating {
  display: inline-block;
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.rating__radio {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0;
}

.rating__label {
  background-color: var(--clr-dark-blue);
  color: var(--clr-light-grey);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}

.rating__radio:not(:checked) + .rating__label:hover {
  background-color: var(--clr-medium-grey);
  color: white;
}

.rating__radio:checked + .rating__label {
  background-color: var(--clr-orange);
  color: white;
}

.rating__radio:focus-visible + .rating__label {
  outline: 2px solid;
}
